.vs/
.vs/*
ConsoleApplication1/Debug/ConsoleApplication1.vcxprojAssemblyReference.cache
ConsoleApplication1/Debug/ConsoleApplication1.vcxprojAssemblyReference.cache
Debug3/TestUI.exe
Debug3/TestUI.ilk
Debug3/TestUI.pdb
Debug3/WpfUI.dll
Debug3/WpfUI.pdb
TestUI/Debug/TestUI.obj
TestUI/Debug/TestUI.tlog/link.read.1.tlog
TestUI/Debug/TestUI.tlog/link.write.1.tlog
TestUI/Debug/TestUI.tlog/TestUI.read.1u.tlog
TestUI/Debug/TestUI.tlog/TestUI.write.1u.tlog
TestUI/Debug/TestUI.vcxprojAssemblyReference.cache
TestUI/Debug/vc142.idb
TestUI/Debug/vc142.pdb
TestUI/TestUI.vcxproj.user
WpfUI/obj/Debug/DesignTimeResolveAssemblyReferences.cache
